body {
    margin: 0;
    background: white;
}

/* Pantalla inicial */
.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 260px;
    opacity: 0;
    animation: zoomIn 1.6s ease forwards;
}

@keyframes zoomIn {
    0% { transform: scale(0.6); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.ocultar {
    opacity: 0;
    transition: 1s;
}
