body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
    animation: fadeIn 0.7s ease;
}

h1 {
    text-align: center;
    color: #2e7d32;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    max-width: 750px;
}

.volver {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #2e7d32;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

