body {
    margin: 0;
    background: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

header {
    background: #4CAF50;
    color: white;
    padding: 25px;
}

.botones {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 15px 30px;
    background: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    background: #3e8e41;
}

